<div class="wrap">
  <input class="control" type="text" [(ngModel)]="name" />
  <button class="btn" (click)="addUser()">Save</button>
</div>
<div class="title" *ngIf="name$ | async as name">
  Добро Пожаловать! - {{ name }}
</div>
<div class="content">
  <div>
    <button (click)="start()" class="btn_game">Start</button>
  </div>
  <div>
    <div *ngIf="counter$ | async as counter">{{ counter }}</div>
    <button
      (click)="addClick()"
      [disabled]="!(startGame$ | async)"
      class="btn_game"
    >
      Click
    </button>
  </div>
</div>
