.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.control {
    width: 200px;
    height: 50px;
    font-size: 24px;
}

.btn {
    width: 80px;
    height: 40px;
}

.title {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
}

.content {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.btn_game {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: red;
    color: #fff;
}
